<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admission 2027 | Al-Najat National Institution</title>

    <link rel="stylesheet" href="/css/admission2027.css">
</head>

<body>

    <!-- Hero -->
    <%- include('./partials/hero') %>

    <!-- Course Cards -->
    <%- include('./partials/course-card') %>

</body>

</html>
