








<div class="wizard-progress">

    <div class="step active">
        <div class="circle">1</div>
        <span>Personal</span>
    </div>

    <div class="line"></div>

    <div class="step">
        <div class="circle">2</div>
        <span>Academic</span>
    </div>

    <div class="line"></div>

    <div class="step">
        <div class="circle">3</div>
        <span>Course</span>
    </div>

    <div class="line"></div>

    <div class="step">
        <div class="circle">4</div>
        <span>Documents</span>
    </div>

    <div class="line"></div>

    <div class="step">
        <div class="circle">5</div>
        <span>Preview</span>
    </div>

</div>


